  .error_section{
    padding: 4rem 2rem;
    text-align: center;
  }
  
  .error_section .error{
    font-size: 150px;
    color: #1269DB;
    text-shadow: 
      1px 1px 1px #074390,    
      2px 2px 1px #074390,
      3px 3px 1px #074390,
      4px 4px 1px #074390,
      5px 5px 1px #074390,
      6px 6px 1px #074390,
      7px 7px 1px #074390,
      8px 8px 1px #074390,
      25px 25px 8px rgba(0,0,0, 0.2);
  }
  
  .error_description{
    margin: 2rem 0;
    font-size: 20px;
    font-weight: 600;
    color: #444;
  }